 body {
            padding-right: 0;
            padding-left: 0;
        }


.navbar img{
    width: 200px;
    height: 140px;
}

.card {
    height: 100%;
}

.card-img-top {
    height: 200px; /* Altura desejada para a imagem */
    object-fit: cover;
}
.mx-auto .card img{

    width: 200px;
    
}